<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Serialport_communication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <Serialport_communication.Properties.Settings>
            <setting name="baudrate" serializeAs="String">
                <value>750000</value>
            </setting>
            <setting name="portname" serializeAs="String">
                <value />
            </setting>
            <setting name="parity" serializeAs="String">
                <value>Even</value>
            </setting>
            <setting name="dataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="stopBits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="language" serializeAs="String">
                <value />
            </setting>
        </Serialport_communication.Properties.Settings>
    </userSettings>
</configuration>